# Arquivos de Build e Dependências
/target/
/build/
/out/

# Ignora o JAR do Maven Wrapper, mas mantém os scripts
.mvn/wrapper/maven-wrapper.jar

# Exceções (embora /target/ já pegue isso, não custa manter)
!**/src/main/**/target/
!**/src/test/**/target/

# Arquivos de Log
*.log
logs/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Arquivos de Sistema Operacional
.DS_Store
Thumbs.db
